[homing_override]
axes:xyz
gcode: 

    # set needed variables
    {% set homing_current = 1 %}
    {% set driver_config_x = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set driver_config_y = printer.configfile.settings['tmc2209 stepper_y'] %}
    {% set run_current_x = driver_config_x.run_current %}
    {% set run_current_y = driver_config_y.run_current %}
    {% set max_accel = printer.toolhead.max_accel %}

    # home x if provided in params
	{% if params.X is defined %}
    
      M204 S5000 # slowdown acceleration
      
      SET_TMC_CURRENT STEPPER=stepper_x CURRENT={homing_current * 0.8} # set to 80% of homing current
      G28 X # home x
      SET_TMC_CURRENT STEPPER=stepper_x CURRENT={homing_current} # reset to homing current
      G1 X10 F1200 # backup x 10mm
      BEEP I=1 DUR=100
      SET_TMC_CURRENT STEPPER=stepper_x CURRENT={run_current_x} # return stepper x to default
      
      M204 S{max_accel} # reset acceleration
      
    {% endif %}

    # home y if provided in params
    {% if params.Y is defined %}
    
      M204 S5000 # slowdown acceleration
      
   	  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={homing_current * 0.9} # set to 90% of homing current
  	  G28 Y # home y
  	  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={homing_current} # reset to homing current
      G1 Y10 F1200 # backup y 10mm
      BEEP I=1 DUR=100
      SET_TMC_CURRENT STEPPER=stepper_y CURRENT={run_current_y} # return stepper y to default
      
      M204 S{max_accel} # reset acceleration
      
    {% endif %}

    # home z if provided in params
    {% if params.Z is defined %}
      {% if "xy" in printer.toolhead.homed_axes %}
      
        M204 S5000 # slowdown acceleration
        
        SET_KINEMATIC_POSITION Z=10
        G1 X{printer.toolhead.axis_maximum.x/2 - printer.probe["x_offset"]} Y{printer.toolhead.axis_maximum.y/2 - printer.probe["y_offset"]} F7800 # center probe
        G28 Z # home z
        G1 Z10 F480 # move z to 10mm
        BEEP I=1 DUR=100  
        
        M204 S{max_accel} # reset acceleration
        
      {% else %}
      
        { action_respond_info('X and Y must be homed first') }
        
      {% endif %}
    {% endif %}

    # no params provide so do full homing
    {% if ( (params.X is undefined) and (params.Y is undefined) and (params.Z is undefined) ) %}

      M204 S5000 # slowdown acceleration
      
      SET_TMC_CURRENT STEPPER=stepper_y CURRENT={homing_current * 0.9} # set to 90% of homing current
  	  G28 Y # home y
  	  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={homing_current} # reset to homing current
      G1 Y15 F1200 # backup y 15mm
      BEEP I=1 DUR=100    

      SET_TMC_CURRENT STEPPER=stepper_x CURRENT={homing_current * 0.8} # set to 80% of homing current
      G28 X # home x
      SET_TMC_CURRENT STEPPER=stepper_x CURRENT={homing_current} # reset to homing current
      G1 X15 F1200 # backup x 15mm
      BEEP I=1 DUR=100
       
      SET_KINEMATIC_POSITION Z=10 # trick klipper into thinking z is homed to center probe for homing
      G1 X{printer.toolhead.axis_maximum.x/2 - printer.probe["x_offset"]} Y{printer.toolhead.axis_maximum.y/2 - printer.probe["y_offset"]} F7800 # center probe
      G28 Z # home z
      G1 Z10 F480 # move z to 10mm
      BEEP I=1 DUR=100
           
      SET_TMC_CURRENT STEPPER=stepper_x CURRENT={run_current_x} # return stepper x to default
      SET_TMC_CURRENT STEPPER=stepper_y CURRENT={run_current_y} # return stepper y to default
      
      M204 S{max_accel} # reset acceleration
  
    {% endif %}

    CENTER_TOOLHEAD
    
