#Mates3
#V4.1.10
# This file contains common pin mappings for QIDI
# boards. To use this config, the firmware should be compiled for the
# stm32f402. When running "make menuconfig", select the 48KiB
# bootloader, and enable "Serial for communication" and select the "on USART1 PA10/PA9"

# See docs/Config_Reference.md for a description of parameters.

# The hardware uses USART1 PA10/PA9 connect to RK3328
[mcu]
serial: /dev/ttyS0
restart_method: command

[printer]
kinematics:corexy
max_velocity: 600
max_accel: 20000
max_accel_to_decel: 10000
max_z_velocity: 10
max_z_accel: 500
square_corner_velocity: 8

#####################################
#            Sub Config             #
#####################################
[include sub_config/*.cfg]

#####################################
#               KAMP                #
#####################################
[include KAMP_Settings.cfg]

#####################################
#              MACROS               #
#####################################
[include macros/*.cfg]

[input_shaper]
# shaper_type_x = mzv
# shaper_freq_x = 69.0
# shaper_type_y = mzv
# shaper_freq_y = 59.2

[probe]
# z_offset = 0.000

[extruder]
#control: pid  
#pid_Kp=14.734
#pid_Ki=6.549 
#pid_Kd=8.288

[heater_bed]
#control: pid
#pid_Kp=63.418 
#pid_Ki=1.342 
#pid_Kd=749.125

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 70.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 60.0
#*#
#*# [probe]
#*# z_offset = 0.000
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.399
#*# pid_ki = 1.234
#*# pid_kd = 840.405
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 45.569
#*# pid_ki = 14.466
#*# pid_kd = 35.885
#*#
#*# [bed_mesh COLD]
#*# version = 1
#*# points =
#*# 	-0.025000, -0.031250, -0.028750, -0.043750, -0.038750, -0.171250
#*# 	0.051250, 0.008750, -0.003750, -0.016250, -0.018750, -0.108750
#*# 	0.055000, 0.025000, 0.011250, 0.006250, -0.003750, -0.097500
#*# 	0.023750, -0.008750, -0.003750, -0.011250, -0.003750, -0.103750
#*# 	0.031250, -0.013750, -0.008750, -0.016250, 0.003750, -0.090000
#*# 	0.036250, -0.001250, -0.012500, -0.005000, 0.011250, -0.098750
#*# tension = 0.2
#*# mesh_x_pps = 4
#*# algo = lagrange
#*# min_x = 30.0
#*# min_y = 15.0
#*# y_count = 6
#*# mesh_y_pps = 4
#*# x_count = 6
#*# max_x = 170.0
#*# max_y = 170.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.035000, -0.033750, -0.031250, -0.038750, -0.041250, -0.168750
#*# 	0.033750, -0.002500, -0.017500, -0.022500, -0.023750, -0.111250
#*# 	0.030000, -0.002500, -0.007500, -0.013750, -0.018750, -0.111250
#*# 	-0.011250, -0.043750, -0.033750, -0.036250, -0.026250, -0.122500
#*# 	-0.016250, -0.060000, -0.046250, -0.048750, -0.028750, -0.127500
#*# 	-0.017500, -0.042500, -0.046250, -0.033750, -0.018750, -0.147500
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = lagrange
#*# y_count = 6
#*# mesh_y_pps = 4
#*# min_y = 15.0
#*# x_count = 6
#*# max_y = 170.0
#*# mesh_x_pps = 4
#*# max_x = 170.0
