################################################################################
# Beep
# A beeper output pin must be defined
# BEEP [I=<iterations>] [dur=<duration in ms>] [V=<decimal PWM>]
################################################################################
#[gcode_macro BEEP]
#description: Activate the Robin nano beeper
#gcode:
#    # Parameters
#    {% set v = params.V|default(1)|float %}          ; Value (PWM value as a decimal).
#    {% set i = params.I|default(1)|int %}            ; Iterations (number of times to beep).
#    {% set dur = params.DUR|default(100)|int %}      ; Duration/wait of each beep in ms. Default 100ms.
#
#    {% if v > 1 %}
#        v=1
#    {% elif v < 0 %}
#        v=0
#    {% endif %}
#
#    {% set v = v * 1000|int %}
#
#    {% for iteration in range(i|int) %}
#        SET_PIN PIN=_beeper VALUE={v}
#        G4 P{dur}
#        SET_PIN PIN=_beeper VALUE=0
#		G4 P{dur}
#    {% endfor %}

[gcode_macro BEEP]
gcode:
    # Parameters
    {% set i = params.I|default(1)|int %}        ; Iterations (number of times to beep).
    {% set dur = params.DUR|default(100)|int %}  ; Duration/wait of each beep in ms. Default 100ms.

    {% if printer["output_pin sound"].value|int == 1 %}
        {% for iteration in range(i|int) %}
            SET_PIN PIN=beeper VALUE=1
            G4 P{dur}
            SET_PIN PIN=beeper VALUE=0
    		G4 P{dur}
        {% endfor %}
    {% endif %}

[gcode_macro beep_on]
gcode:
    SET_PIN PIN=sound VALUE=1
    
[gcode_macro beep_off]
gcode:
    SET_PIN PIN=sound VALUE=0